<!-- <!DOCTYPE html>
<html lang="en">
	<%- include('includes/head', {title: 'Index'}); -%>

<body>
	<h1>
		Hello World <%= locals.texts || 'Default' %>
	</h1>
	<form action="/users/new" method="get">
		<input type="submit", value="Signup">
	</form>

	<form action="/users/login_form" method="get">
		<input type="submit", value="Login">
	</form>

</body>
</html> -->