<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: 'new User'}); -%>
<body>
  <form action="/users/register" method="POST">
    <label>First Name
      <input type="text" name="userName" value="<%= locals.firstName %>" />
    </label>
    <label>email
      <input type="text" name="email" value="<%= locals.email %>" />
    </label>
    <label>password
      <input type="text" name="password" value="<%= locals.email %>" />
    </label>
    <button type="submit">Submit</button>
  </form>
</body>
</html>